# Виртуальное окружение
venv/
env/
ENV/

# Файлы конфигурации с секретами
.env
instance/config.py

# Логи
logs/
*.log

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Тесты / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDE
.idea/
.vscode/
*.swp
*.swo